.button {
    display: inline-block;
    background-color: #f25a70;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    text-decoration: none;
    color: #fff;
    

}

.button:hover{
    transform: scale(1.08);

}